<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Invoice_Classify_Code.My.MySettings.iccConnectionString"
            connectionString="Data Source=mssql.vm;Initial Catalog=icc;User ID=icc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>